@page "/preorders/create"
@using Microsoft.EntityFrameworkCore
@using Dinesaur.Domain
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>PreOrder</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="PreOrder" OnValidSubmit="AddPreOrder" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="cost" class="form-label">Cost:</label> 
                <InputNumber id="cost" @bind-Value="PreOrder.Cost" class="form-control" /> 
                <ValidationMessage For="() => PreOrder.Cost" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="menuid" class="form-label">MenuID:</label> 
                <InputNumber id="menuid" @bind-Value="PreOrder.MenuID" class="form-control" /> 
                <ValidationMessage For="() => PreOrder.MenuID" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="restaurantid" class="form-label">RestaurantID:</label> 
                <InputNumber id="restaurantid" @bind-Value="PreOrder.RestaurantID" class="form-control" /> 
                <ValidationMessage For="() => PreOrder.RestaurantID" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/preorders">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private PreOrder PreOrder { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddPreOrder()
    {
        using var context = DbFactory.CreateDbContext();
        context.PreOrder.Add(PreOrder);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/preorders");
    }
}
