@page "/preorders/edit"
@using Microsoft.EntityFrameworkCore
@using Dinesaur.Domain
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>PreOrder</h2>
<hr />
@if (PreOrder is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="PreOrder" OnValidSubmit="UpdatePreOrder" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="PreOrder.PreOrderID" value="@PreOrder.PreOrderID" />
                <div class="mb-3">
                    <label for="cost" class="form-label">Cost:</label>
                    <InputNumber id="cost" @bind-Value="PreOrder.Cost" class="form-control" />
                    <ValidationMessage For="() => PreOrder.Cost" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="menuid" class="form-label">MenuID:</label>
                    <InputNumber id="menuid" @bind-Value="PreOrder.MenuID" class="form-control" />
                    <ValidationMessage For="() => PreOrder.MenuID" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="restaurantid" class="form-label">RestaurantID:</label>
                    <InputNumber id="restaurantid" @bind-Value="PreOrder.RestaurantID" class="form-control" />
                    <ValidationMessage For="() => PreOrder.RestaurantID" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/preorders">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int PreOrderID { get; set; }

    [SupplyParameterFromForm]
    private PreOrder? PreOrder { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        PreOrder ??= await context.PreOrder.FirstOrDefaultAsync(m => m.PreOrderID == PreOrderID);

        if (PreOrder is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdatePreOrder()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(PreOrder!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!PreOrderExists(PreOrder!.PreOrderID))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/preorders");
    }

    private bool PreOrderExists(int preorderid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.PreOrder.Any(e => e.PreOrderID == preorderid);
    }
}
