@page "/menus/delete"
@using Microsoft.EntityFrameworkCore
@using Dinesaur.Domain
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authenticationStateProvider
@rendermode InteractiveServer
<PageTitle>Delete</PageTitle>
<container style="text-align: center;">
<h1 style="margin-top:40px;">Delete</h1>
<div class="row justify-content-center">
<div class="col-md-4">
    @if (Catergories.Any())
    {

        <EditForm method="post" Model="Menu" OnValidSubmit="DeleteItemfromMenu" FormName="delete" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="mb-3">
                <label for="category" class="form-label" style="color:white;">Insert Category to be Deleted:</label>
                <InputSelect id="itemcategory" @bind-Value="Menu.Category" class="form-select">

                    @foreach (string category in Catergories.Skip(1))
                    {
                        <option value="@category">@category</option>
                    }

                </InputSelect>
            </div>
            <div class="mb-3" hidden>
                <label for="menurestaurantid" class="form-label">RestaurantID:</label>
                <InputNumber id="menurestaurantid" @bind-Value="Menu.RestaurantID" class="form-control" />
                <ValidationMessage For="() => Menu.RestaurantID" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Delete</button>
        </EditForm>
    }
        else
        {
            <h2> You dont have any categories to delete from your menu</h2>
            <a href="/menus" class="btn-primary" style="padding: 15px 32px;">Back</a>
        }
        <br />
        <div>
            <a href="/menus" class="btn-primary" style="padding: 15px 32px;">Back</a>
        </div>
    </div>
    </div>
</container>
@code {
    [SupplyParameterFromForm]
    private Menu Menu { get; set; } = new();
    private int? RestaurantId, MenuId;
    private List<string?> Catergories = new List<string?>();
    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var aspNetUserId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        await using var db = await DbFactory.CreateDbContextAsync();
        var CheckForRestaurantId = await db.Restaurant
        .Where(r => r.RestaurantOwnerID == aspNetUserId)
        .Select(r => r.RestaurantID)
        .SingleOrDefaultAsync();
        RestaurantId = CheckForRestaurantId;
        var MenuDetails = await db.Menu
        .Where(m => m.RestaurantID == RestaurantId)
        .Select(m => new
        {
            m.MenuID,
            m.Catergories
        }
        )
        .SingleOrDefaultAsync();
        Catergories = MenuDetails.Catergories;
        MenuId = MenuDetails.MenuID;
    }

    private async Task DeleteItemfromMenu()
    {
        await using var db = await DbFactory.CreateDbContextAsync();
        using var context = DbFactory.CreateDbContext();

        var existingMenu = await context.Menu
               .FirstOrDefaultAsync(m => m.MenuID == MenuId);
        if (existingMenu != null)
        {
            existingMenu.Catergories.Remove(Menu.Category);
        }
        await context.SaveChangesAsync();

        var ListofCatergories = await db.Menu
        .Where(m => m.MenuID == MenuId)
        .Select(m => m.Catergories)
        .FirstOrDefaultAsync();
        if (ListofCatergories != null)
        {
            Catergories = ListofCatergories;
        }
        StateHasChanged();
    }
}
