@page "/foods/edit"
@using Microsoft.EntityFrameworkCore
@using Dinesaur.Domain
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Food</h2>
<hr />
@if (Food is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Food" OnValidSubmit="UpdateFood" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Food.FoodID" value="@Food.FoodID" />
                <div class="mb-3">
                    <label for="foodname" class="form-label">FoodName:</label>
                    <InputText id="foodname" @bind-Value="Food.FoodName" class="form-control" />
                    <ValidationMessage For="() => Food.FoodName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="cost" class="form-label">Cost:</label>
                    <InputNumber id="cost" @bind-Value="Food.Cost" class="form-control" />
                    <ValidationMessage For="() => Food.Cost" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="Food.Description" class="form-control" />
                    <ValidationMessage For="() => Food.Description" class="text-danger" />
                </div>
                
                <div class="mb-3">
                    <label for="staffid" class="form-label">StaffID:</label>
                    <InputNumber id="staffid" @bind-Value="Food.StaffID" class="form-control" />
                    <ValidationMessage For="() => Food.StaffID" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="menuid" class="form-label">MenuID:</label>
                    <InputNumber id="menuid" @bind-Value="Food.MenuID" class="form-control" />
                    <ValidationMessage For="() => Food.MenuID" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/foods">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int FoodID { get; set; }

    [SupplyParameterFromForm]
    private Food? Food { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Food ??= await context.Food.FirstOrDefaultAsync(m => m.FoodID == FoodID);

        if (Food is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateFood()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Food!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!FoodExists(Food!.FoodID))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/foods");
    }

    private bool FoodExists(int foodid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Food.Any(e => e.FoodID == foodid);
    }
}
