@page "/reservations/create"
@using Microsoft.EntityFrameworkCore
@using Dinesaur.Domain
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Reservation</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Reservation" OnValidSubmit="AddReservation" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="date" class="form-label">Date:</label> 
                <InputDate id="date" @bind-Value="Reservation.Date" class="form-control" /> 
                <ValidationMessage For="() => Reservation.Date" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="location" class="form-label">Location:</label> 
                <InputText id="location" @bind-Value="Reservation.Location" class="form-control" /> 
                <ValidationMessage For="() => Reservation.Location" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="remarks" class="form-label">Remarks:</label> 
                <InputText id="remarks" @bind-Value="Reservation.Remarks" class="form-control" /> 
                <ValidationMessage For="() => Reservation.Remarks" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="customerid" class="form-label">CustomerID:</label> 
                <InputNumber id="customerid" @bind-Value="Reservation.Id" class="form-control" /> 
                <ValidationMessage For="() => Reservation.Id" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="restaurantid" class="form-label">RestaurantID:</label> 
                <InputNumber id="restaurantid" @bind-Value="Reservation.RestaurantID" class="form-control" /> 
                <ValidationMessage For="() => Reservation.RestaurantID" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="staffid" class="form-label">StaffID:</label> 
                <InputNumber id="staffid" @bind-Value="Reservation.StaffID" class="form-control" /> 
                <ValidationMessage For="() => Reservation.StaffID" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/reservations">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Reservation Reservation { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddReservation()
    {
        using var context = DbFactory.CreateDbContext();
        context.Reservation.Add(Reservation);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/reservations");
    }
}
