@page "/reservations/edit"
@using Microsoft.EntityFrameworkCore
@using Dinesaur.Domain
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Reservation</h2>
<hr />
@if (Reservation is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Reservation" OnValidSubmit="UpdateReservation" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Reservation.ReservationID" value="@Reservation.ReservationID" />
                <div class="mb-3">
                    <label for="date" class="form-label">Date:</label>
                    <InputDate id="date" @bind-Value="Reservation.Date" class="form-control" />
                    <ValidationMessage For="() => Reservation.Date" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <InputText id="location" @bind-Value="Reservation.Location" class="form-control" />
                    <ValidationMessage For="() => Reservation.Location" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="remarks" class="form-label">Remarks:</label>
                    <InputText id="remarks" @bind-Value="Reservation.Remarks" class="form-control" />
                    <ValidationMessage For="() => Reservation.Remarks" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="customerid" class="form-label">CustomerID:</label>
                    <InputNumber id="customerid" @bind-Value="Reservation.Id" class="form-control" />
                    <ValidationMessage For="() => Reservation.Id" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="restaurantid" class="form-label">RestaurantID:</label>
                    <InputNumber id="restaurantid" @bind-Value="Reservation.RestaurantID" class="form-control" />
                    <ValidationMessage For="() => Reservation.RestaurantID" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="staffid" class="form-label">StaffID:</label>
                    <InputNumber id="staffid" @bind-Value="Reservation.StaffID" class="form-control" />
                    <ValidationMessage For="() => Reservation.StaffID" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/reservations">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int ReservationID { get; set; }

    [SupplyParameterFromForm]
    private Reservation? Reservation { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Reservation ??= await context.Reservation.FirstOrDefaultAsync(m => m.ReservationID == ReservationID);

        if (Reservation is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateReservation()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Reservation!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ReservationExists(Reservation!.ReservationID))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/reservations");
    }

    private bool ReservationExists(int reservationid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Reservation.Any(e => e.ReservationID == reservationid);
    }
}
