@inherits LayoutComponentBase
<div class="topnav">
    <NavMenu />
</div>
<div class="page">
    

    <main>
        <AuthorizeView>
        <NotAuthorized>
            @Body
        </NotAuthorized>
        <Authorized>
            <div style="display: grid; grid-template-columns: 15% 1fr; height: 100vh; text-align: left">
            
                
                <div>
                    <div style="position: fixed; left: 0; top: 55px; background-color: black; width: 15%; height: 100%">
                        <div style="display: flex; flex-direction: column; gap: 10px;">
                            <a class="nav-link" href="/">My Bookings</a>
                            <a class="nav-link" href="/restaurant">Restaurant</a>
                            <a class="nav-link" href="/Account/Manage">Settings</a>
                        </div>
                    </div>
                </div>
                    @Body
                </div>
            
        </Authorized>
        </AuthorizeView>
           
            
        
        
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

