.dropdown-content {
    display:none;
    position: absolute;
    background-color: #f1f1f1;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 3.5rem;
}
.dropdown:hover .dropdown-content {
    display: block;
    
}

.dropdown-content a {
    
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown {
    position: relative;
    display: inline-block;
    
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15.5px 15px;
    text-decoration: none;
    font-size: 17px;
}

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #f2f2f2;
        color: black;
    }

.top-row {
    height: 3.5rem;
    background-color: darkblue;
}
