
<div class="top-row">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Dinesaur</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
</div>

