@inject NavigationManager NavigationManager
@implements IDisposable 
<nav style="background-color: #386641; display: flex; justify-content: space-between; width: 100%">
    <div>
        <a class="navbar-brand" , href="/">Dinesaur</a>
        <a href="/Account/register">About Us</a>
       
    </div>
   
    <div>
        
        <a href="/Account/register">Sign Up</a>
        <a href="/Account/login">Login</a>
    </div>
</nav>

@code {
    private string? currentUrl;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}