@page "/reviews"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Dinesaur.Domain
@using Dinesaur.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="reviews/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Review">
    <PropertyColumn Property="review => review.ReviewTitle" />
    <PropertyColumn Property="review => review.Location" />
    <PropertyColumn Property="review => review.Date" />
    <PropertyColumn Property="review => review.Rating" />
    <PropertyColumn Property="review => review.Description" />
    <PropertyColumn Property="review => review.RestaurantID" />
    <PropertyColumn Property="review => review.CustomerID" />

    <TemplateColumn Context="review">
        <a href="@($"reviews/edit?reviewid={review.ReviewID}")">Edit</a> |
        <a href="@($"reviews/details?reviewid={review.ReviewID}")">Details</a> |
        <a href="@($"reviews/delete?reviewid={review.ReviewID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private DinesaurContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
