@* More Details *@
@page "/Admin/Restaurant/Details/{restaurantId}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Dinesaur.Domain
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider Auth
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory
@inject Dinesaur.Data.DinesaurContext DbContext
@inject UserManager<Dinesaur.Data.DinesaurUser> UserManager


<h3>MoreDetailsRestaurant</h3>

@code {


}
