@page "/restaurants/edit"
@using Microsoft.EntityFrameworkCore
@using Dinesaur.Domain
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Restaurant</h2>
<hr />
@if (Restaurant is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Restaurant" OnValidSubmit="UpdateRestaurant" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Restaurant.RestaurantID" value="@Restaurant.RestaurantID" />
                <div class="mb-3">
                    <label for="restaurantname" class="form-label">RestaurantName:</label>
                    <InputText id="restaurantname" @bind-Value="Restaurant.RestaurantName" class="form-control" />
                    <ValidationMessage For="() => Restaurant.RestaurantName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <InputText id="location" @bind-Value="Restaurant.Location" class="form-control" />
                    <ValidationMessage For="() => Restaurant.Location" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category:</label>
                    <InputText id="category" @bind-Value="Restaurant.Category" class="form-control" />
                    <ValidationMessage For="() => Restaurant.Category" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="adminid" class="form-label">AdminID:</label>
                    <InputNumber id="adminid" @bind-Value="Restaurant.AdminID" class="form-control" />
                    <ValidationMessage For="() => Restaurant.AdminID" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="contact" class="form-label">Contact:</label>
                    <InputNumber id="contact" @bind-Value="Restaurant.Contact" class="form-control" />
                    <ValidationMessage For="() => Restaurant.Contact" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <InputText id="email" @bind-Value="Restaurant.Email" class="form-control" />
                    <ValidationMessage For="() => Restaurant.Email" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/restaurants">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int RestaurantID { get; set; }

    [SupplyParameterFromForm]
    private Restaurant? Restaurant { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Restaurant ??= await context.Restaurant.FirstOrDefaultAsync(m => m.RestaurantID == RestaurantID);

        if (Restaurant is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateRestaurant()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Restaurant!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!RestaurantExists(Restaurant!.RestaurantID))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/restaurants");
    }

    private bool RestaurantExists(int restaurantid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Restaurant.Any(e => e.RestaurantID == restaurantid);
    }
}
