@page "/restaurants"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Dinesaur.Domain
@using Dinesaur.Data
@using System.ComponentModel.DataAnnotations.Schema;
@implements IAsyncDisposable
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory
@rendermode InteractiveServer

<PageTitle>Restaurant</PageTitle>
<container style="text-align: center;">
<h1 style="margin-top:40px">My Restaurant</h1>
@if(HasRestaurant == true)
{   
    <br />
    <h2> Restaurant Logo:</h2>
    <div style="width: 100%;  display: flex; justify-content: center; align-items: center; color: none">
            <img src="@Lo" style="width: 50%; height: auto; align-content: center; border: 5px solid white; border-radius: 5px;" alt="Uploaded Image" />
    </div>
        <h2> Restaurant Name:  @RestaurantName </h2>
        <h2> Restaurant Contact Number: @Contact </h2>
        <h2> Restaurant Location: @Location </h2>
        <h2> Restaurant Category: @Catergory </h2>
        <h2> Restaurant Email: @Email </h2>
        <br />
        <a href="/menus/create" class="btn-primary" style="padding: 15px 32px;">Restaurant's Menu</a>
}
else
{
        <h2 style="color: #88E788;"> You do not have a Restaurant</h2>
        <br />
        <a href="/restaurants/create" class="btn-primary" style="padding: 15px 32px;">Create Restaurant</a>
}
</container>

@* <QuickGrid Class="table" Items="context.Restaurant">
    <PropertyColumn Property="restaurant => restaurant.RestaurantName">  </PropertyColumn>
    <PropertyColumn Property="restaurant => restaurant.Location" />
    <PropertyColumn Property="restaurant => restaurant.Category" />
    <PropertyColumn Property="restaurant => restaurant.AdminID" />
    <PropertyColumn Property="restaurant => restaurant.Contact" />
    <PropertyColumn Property="restaurant => restaurant.Email" />

    <TemplateColumn Context="restaurant">
        <a href="@($"restaurants/edit?restaurantid={restaurant.RestaurantID}")">Edit</a> |
        <a href="@($"restaurants/details?restaurantid={restaurant.RestaurantID}")">Details</a> |
        <a href="@($"restaurants/delete?restaurantid={restaurant.RestaurantID}")">Delete</a>
    </TemplateColumn>
</QuickGrid> *@

@code {
    private bool HasRestaurant;
    private string? RestaurantName,Lo,Email,Location;
    private int? Contact;
    private string? Catergory;

    @inject AuthenticationStateProvider authenticationStateProvider
    private DinesaurContext context = default!;
    private string? userId = "Default";
    PaginationState paginationState = new PaginationState { ItemsPerPage = 10 };
    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var aspNetUserId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        context = DbFactory.CreateDbContext();
        await using var db = await DbFactory.CreateDbContextAsync();
        var userIdClaim = user.FindFirst("userId");

        if (userIdClaim != null)
        {
            userId = userIdClaim.Value;
        }
        var CheckForRestaurantId = await db.Restaurant
        .Where(r => r.RestaurantOwnerID == aspNetUserId)
        .Select(r=> r.RestaurantOwnerID)
        .SingleOrDefaultAsync();
        
        if(CheckForRestaurantId == null)
        {
            HasRestaurant = false;
        }
        else
        {
            HasRestaurant = true;
        }
        if (HasRestaurant == true)
        {
            var Details = await db.Restaurant
            .Where(d => d.RestaurantOwnerID == aspNetUserId)
              .Select(d => new
              {
                  
                  d.RestaurantName,
                  d.Category,
                  d.Contact,
                  d.Email,
                  d.Location
              }).SingleOrDefaultAsync();
            RestaurantName = Details.RestaurantName;
            Contact = Details.Contact;
            Catergory = Details.Category;
            Email = Details.Email;
            Location = Details.Location;

            var Logo = await db.Restaurant
            .Where(l => l.RestaurantOwnerID == aspNetUserId)
            .Select(l => l.Logo)
            .FirstOrDefaultAsync();

            Lo = Logo.First();
        }
        
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
