@page "/testclick"
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<h3>Test Click</h3>

<div @onclick="TestClick"
     style="margin-left: 500px;width:200px; height:100px; background-color:red; cursor:pointer; color:white; display:flex; align-items:center; justify-content:center;">
    Click Me
</div>

@code {
    void TestClick()
    {
        JS.InvokeVoidAsync("console.log", "CLICK REGISTERED");
        NavigationManager.NavigateTo("/"); // Navigate to index
    }
}
