@*Pre-Order Food Items for Reservation*@


@page "/Reservation/Create/PreOrder/{id:int}"
@using Dinesaur.Domain
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider Auth
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory
@inject Dinesaur.Data.DinesaurContext DbContext
<div style="display: flex; flex-direction:column">
    <div style="background-color: dimgrey; height: auto; text-align: left; display: flex; flex-direction: column; padding: 10px 30px;">
        <h1 style="padding-top: 100px; text-align: left">Pre - Order</h1>
        <h2>Order your dishes now and enjoy your food when you arrive!</h2>
        <div style="background-color: black; display: grid; grid-template-columns:repeat(auto-fit, minmax(150px, 1fr)); gap: 10px; border-radius: 15px;  padding: 10px;">
        @for(int i=0; i<7; i++){
            <a style="background-color: grey; color: white; border-radius: 5px; padding: 10px;" href="#@i">Category @i</a>
        }
        </div>
    </div>
    <div style="padding: 30px 30px; display:flex; flex-direction: column; gap: 10px; margin-top: 50px;">
        <div>
            <h2>Category Title</h2>
        </div>
        <div style=" display: grid; grid-template-columns:repeat(5, 1fr); gap: 30px; border-radius: 20px;  padding: 15px;">
            @for (int i = 0; i < 10; i++)
            {
                
                <div style="background-color: black; color: white; border-radius: 20px; padding: 10px; height: 40vh; display: flex; flex-direction: column; gap: 5px;">
                    <div style="background-color: grey; height: 75%; border-radius: 10px;"></div>
                    <div style="display: grid; grid-template-columns: 70% 1fr; padding: 10px 10px; gap: 10px"> 
                        <h5> Dish @i</h5>
                        <h5> $10.00</h5>
                    </div>
                    <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(30px, 1fr)); background-color: grey; border-radius: 10px; text-align:center; ">
                        <a style="background-color: green; height: 100%; border-radius: 10px 0px 0px 10px; padding-top: 3px; font-weight: bold; z-index: 1000; cursor: pointer;" @onclick="() => itemCount++">+</a>
                        <h5 style="background-color: white; color: black; height: 100%; padding-top: 5px; font-weight: bold">@itemCount</h5>
                        <a style="background-color: red; height: 100%; border-radius: 0px 10px 10px 0px; padding-top: 3px; font-weight: bold; z-index: 1000; cursor: pointer;" @onclick="() => itemCount = itemCount - 1">-</a>
                    </div>
                    
                </div>
            }
        </div>
    </div>
    <a href="#"
       class="floating-btn"
       @onclick="() => itemCount++"
       @onclick:preventDefault="true">
        Order List
    </a>
</div>

@code {
    public int itemCount = 0;
    
    [Parameter]
    public int id { get; set; }

    public DateTime Date { get; set; }
    public TimeSpan Time { get; set; }
    public Reservation Reservation { get; set; } = new();
    Restaurant? selectedRestaurant;
    Reservation? selectedReservation;
    Menu? selectedMenu;

    protected override async Task OnInitializedAsync()
    {
        selectedReservation = DbContext.Reservation.FirstOrDefault(x => x.ReservationID == id);
        selectedRestaurant = selectedReservation != null ? await DbContext.Restaurant.FirstOrDefaultAsync(r => r.RestaurantID == selectedReservation.RestaurantID) : null;
        selectedMenu = selectedRestaurant != null ? await DbContext.Menu.FirstOrDefaultAsync(m => m.RestaurantID == selectedRestaurant.RestaurantID) : null;
        var authState = await Auth.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity?.IsAuthenticated ?? true)
        {
            NavigationManager.NavigateTo("/Account/Login");
            return;
        }

        var aspNetUserId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

        Reservation.CustomerID = aspNetUserId;

    }

  
    
}
