@page "/"
@using Microsoft.EntityFrameworkCore
@inject AuthenticationStateProvider Auth
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory
<PageTitle>Dinesaur Home</PageTitle>
<style>
    h1 {
        color: #88E788;
        font-family: 'Bauhaus 93';
        text-align: center;
        
    }

    h2 {
        color: #FFFFFF;
        font-family: 'Calisto MT';
        font-weight: normal;
        text-align: center;
        
    }

    .btn{
        display: inline-block;
        padding: 15px 30px;
        margin: 15px;
        font-size: 30px;
        background-color: #386641;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: 'Bauhaus 93'
    }

    a {
        text-decoration: none;
        color: white;
        font-family: 'Calisto MT';
        font-weight: bold;
    }
</style>
<body style="background-image: url('Images/DinesaurLandingPageTranslucent.jpg'); background-size: cover; background-repeat: no-repeat; height: 200px; text-align: center">
    <h1 style="margin-top: 150px;font-size: 150px">Dinesaur</h1>
    <h2 > Dining In Made Easier</h2>
   
    <a href=@url class="btn"; >View Restaurants</a>

    
   
</body>

<hr style="margin-top:500px;" />

@code {
    private string? url;
    protected override async Task OnInitializedAsync()
    {
        var user = (await Auth.GetAuthenticationStateAsync()).User;
        if (!user.Identity?.IsAuthenticated ?? true)
        {
            url = "Account/login";
        }
        else
        {
            url = "User/Home";
        }
    }
}