@page "/TC/User"

<PageTitle>User T&C</PageTitle>
<container style="text-align:left;">
<h1 style="margin-top:40px;">Terms and Conditions (User)</h1>
    <hr style=" color:white;" />
    <ol style="color:lightgreen; font-size:30px; margin-left:20px;">
        <li> Reservations made must be minimally done 4 hours before expected arrival.</li>
        <li> Failure to arrive at the expected time for reservations will lead to the user's account being flagged, repeated offenses will lead to account being banned.</li>
        <li> Any reviews made must be appropriate,fitting and include experience at the restaurant , defamation of any kind will not be tolerated. Leading to the removal of reivew.</li>
        <li> As a User you agree to let the site collect information about you, that will not be shared with any other parties outside of your reservations and reviews made.  </li>
        <li> All activities done by the user will be publicly avaliable to all other users accordingly. Reviews can be seen by anyone and Reservations can be viewed by the Restaurant Owners.</li>
        <li> Terms & Conditions may or may not change subsequently in the future as see fit by admins.</li>
        <li> If you have any enquiries, please contact us at admin@localhost.com .</li>
    </ol>
    <h2> Failure to follow any of these terms & conditions will lead to swift action by admins.</h2>
</container>
