@page "/TC"
@rendermode InteractiveServer

<PageTitle>T & C</PageTitle>
<container style="text-align: center; justify-content: center;">
<h1 style="margin-top:40px;">Terms and Conditions</h1>
    <a href="/TC/User" class="btn-primary" style="padding: 15px 32px; ">View User T&C</a>
    <a href="/TC/RStaff" class="btn-primary" style="padding: 15px 32px;">View Restaurant Owner T&C</a>
</container>
